html, body {
	height:75%;
	padding-bottom: 100 !important;
}
main {
	margin-top: 10px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;	
}

nav {
	background-color: #4db6ac !important;
}

a {
	color: #2086a3 !important;
}
.print {
	color: black !important;
}

.teal.lighten-2 {
	background-color: #2086a3 !important;
}

.card-avisos {
	background-color: #2086a3  !important;
}

.selecionado{
	background-color: grey;
}