<main>    
	<div class="card">	
		<div class="card-content">				
			<span class="card-title center"><strong>Diários</strong></span>	
			<div class="row">
				<p class="col s12"><strong>Nome:</strong> Antonio Erismar Albuquerque de Freitas Cesar Terceiro Erbert Richard</p>
				<p class="col s12"><strong>Ensino:</strong> Superior</p>
				<p class="col s6"><strong>Curso:</strong> Análise e Desenvolvimento de Sistemas</p>				
				<p class="col s6"><strong>Periodo Cursado:</strong> 2017</p>							
			</div>					
		</div>
	</div>
	<div class="card" ng-repeat="diario in diarios">	
		<div class="card-content">				
			<span class="card-title center">{{diario.disciplina}}</span>	
			<table class="striped responsive-table centered bordered">
				<thead>
					<tr>
						<th>Avaliação</th>							
						<th>Descrição</th>							
						<th>Nota</th>												
						<th>Peso</th>																		
						<th>Observação</th>						
					</tr>									
				</thead>				
				<tbody>
					<tr ng-repeat="avaliacao in diario.avaliacoes">
						<td>{{avaliacao.nome}}</td>												
						<td>{{avaliacao.descricao}}</td>												
						<td>{{avaliacao.nota}}</td>												
						<td>{{avaliacao.peso}}</td>												
						<td>{{avaliacao.observaocao}}</td>												
					</tr>			
				</tbody>
			</table>			
		</div>
		<div class="card-action"><strong>Media Final:</strong> {{diario.mediaFinal}}</div>
	</div>
</main>