<main>
    <div class="row">
        <div class="card">                            
            <div class="card-content">                
                <span class="card-title center">Gerenciamento de Alunos</span>         

                <div class="row">
                    <div class="col">
                        <a data-target="modalNovoAluno" class="s1 btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
                    </div>    
                    <div class="col">                    
                        <a ng-disabled="selecionado" class="s1 btn-floating btn-small waves-effect waves-light yellow"><i class="material-icons">search</i></a>
                    </div>    
                    <div class="col">
                        <a ng-disabled="selecionado" class="s1 btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">edit</i></a>
                    </div>    
                    <div class="col">
                        <a ng-disabled="selecionado" class="s1 btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                    </div>    
                    <div class="col m9">
                        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Qual o aluno que você está buscando?"></input>
                    </div>                
                </div>         

                <table class="highlight responsive-table">
                    <thead>
                      <tr>                                        
                          <th>Nome</th>
                          <th>Sobrenome</th>
                          <th>E-mail</th>
                          <th>Status</th>
                      </tr>
                  </thead>        
                  <tbody>
                      <tr ng-click="selecionaAluno(aluno)" ng-repeat="aluno in alunos | filter:{nome:criterioDeBusca}">
                        <td ng-style="{'background-color': aluno.selecionado}">{{aluno.nome}}</td>
                        <td ng-style="{'background-color': aluno.selecionado}">{{aluno.sobrenome}}</td>
                        <td ng-style="{'background-color': aluno.selecionado}">{{aluno.email}}</td>
                        <td ng-style="{'background-color': aluno.selecionado}">{{aluno.statusDoCadastro}}</td>
                    </tr>          
                </tbody>
            </table>
        </div>
    </div>
</div>
</main>

<div id="modalNovoAluno" class="modal modal-fixed-footer">
    <div class="modal-content">
        <nav class="center">
            <h5 class="brand-logo center">Novo Aluno</h5>
            <!-- <a class="brand-logo center">Cadastro de Aluno</a> -->
        </nav>
        <div class="row">        
            <div class="row">     

                <!-- DADOS GERAIS -->          
                <div class="input-field col s6">
                    <input id="nome" type="text" class="validate" ng-model="aluno.nome"></input>
                    <label for="nome" required>Nome</label>
                </div>                              
                <div class="input-field col s6">
                    <input id="sobreNome" type="text" class="validate" ng-model="aluno.sobreNome"></input>
                    <label for="sobreNome" required>Sobrenome</label>
                </div>                                                              
                <div class="input-field col s6">
                    <input id="dataDeNascimento" type="text" ng-model="aluno.dataDeNascimento" ui-date></input>
                    <label for="dataDeNascimento">Data de nascimento</label>
                </div>                              
                   {{aluno}}
                <div class="input-field col s6">
                    <select id="sexo" ng-model="aluno.sexo" class="validate" required>
                        <option value="" disabled="" selected="">Selecione um sexo</option>
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMININO">Feminino</option>                                  
                    </select>
                    <label for="sexo">Sexo</label>                                        
                </div>  


                <div class="input-field col s6">
                    <select id="etnia" ng-model="aluno.raca" class=" validate" >
                        <option value="" disabled="" selected="">Selecione uma etnia</option>
                        <option ng-repeat="raca in racas" value="{{raca.value}}">{{raca.nome}}</option>
                    </select>
                    <label for="etnia">Etnia</label>                                        
                </div>  

                <div class="input-field col s6">
                    <select id="estadoCivil" ng-model="aluno.estadoCivil" class="validate" >
                        <option value="" disabled="" selected="">Selecione um estado civil</option>
                        <option ng-repeat="estadoCivil in estadosCivis" value="{{estadoCivil.value}}">{{estadoCivil.nome}}</option>
                    </select>
                    <label for="estadoCivil">Estado civil</label>                                        
                </div>                              
                <div class="input-field col s6">
                    <input id="naturalidade" type="text" class="validate" ng-model="aluno.naturalidade" required></input>
                    <label for="naturalidade">Naturalidade</label>
                </div> 
                <div class="input-field col s6">
                    <input id="nacionalidade" type="text" class="validate" ng-model="aluno.nacionalidade" required></input>
                    <label for="nacionalidade">Nacionalidade</label>
                </div>
                <div class="input-field col s6">
                    <select id="tipoSanguineo" ng-model="aluno.tipoSanguineo">
                        <option value="" disabled="" selected="">Selecione um tipo sanguíneo</option>
                        <option ng-repeat="tipoSanguineo in tiposSanguineos" value="{{tipoSanguineo.value}}">{{tipoSanguineo.nome}}</option>
                    </select>
                    <label>Tipo Sanguíneo</label>
                </div>  
                
                <div class="input-field col s6">
                    <input id="nomeDoPai" type="text" class="validate" ng-model="aluno.nomeDoPai" required></input>
                    <label for="nomeDoPai">Nome do Pai</label>
                </div> 
                <div class="input-field col s6">
                    <input id="nomeDaMae" type="text" class="validate" ng-model="aluno.nomeDaMae" required></input>
                    <label for="nomeDaMae">Nome da Mãe</label>
                </div> 
                <div class="input-field col s6">
                    <input id="nomeDoResponsavel" type="text" class="validate" ng-model="aluno.nomeDoResponsavel"></input>
                    <label for="nomeDoResponsavel">Nome do Responsável</label>
                </div> 
                <!--<div class="input-field col s6">
                    <input id="emailDoResponsavel" type="email" class="validate" ng-model="aluno.emailDoResponsavel"></input>
                    <label for="emailDoResponsavel">Email do Responsável</label>
                </div> -->

                <!-- DOCUMENTOS -->  
                <div class="input-field col s4">
                    <input id="rg" type="text" class="validate" ng-model="aluno.documentosPessoais.rg" required></input>
                    <label for="rg">RG</label>
                </div>  
                <div class="input-field col s4">
                    <input id="orgaoEmissorDoRg" type="text" class="validate" ng-model="aluno.documentosPessoais.orgaoEmissorDoRg" required></input>
                    <label for="orgaoEmissorDoRg">Orgão Emissor</label>
                </div>  
                <div class="input-field col s4">
                    <select ng-model="aluno.documentosPessoais.estadoDeEmissaoDoRg" >
                        <option value="" disabled="" selected="">Selecione um estado</option>
                    </select>
                    <label>Estado de Emissão</label>                                        
                </div>  
                <div class="input-field col s6">
                    <input id="dataDeEmissaoDoRg" type="text"  ng-model="aluno.documentosPessoais.dataDeEmissaoDoRg" ui-date></input>
                    <label for="dataDeEmissaoDoRg">Data de Emissão</label>
                </div> 
                <div class="input-field col s6">
                    <input id="cpf" type="text" class="validate" ng-model="aluno.documentosPessoais.cpf" required></input>
                    <label for="cpf">CPF</label>
                </div>
                <div class="input-field col s6">
                    <input id="registroDeNascimento" type="text" class="validate" ng-model="aluno.documentosPessoais.registroDeNascimento" required></input>
                    <label for="registroDeNascimento">Registro de Nascimento</label>
                </div>
                <div class="input-field col s6">
                    <input id="resevista" type="text" ng-model="aluno.documentosPessoais.resevista" ></input>
                    <label for="resevista">Reservista</label>
                </div>

                <!-- CONTATO -->
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate" ng-model="aluno.contato.email" required></input>
                    <label>Email Pessoal</label>                                       
                </div>
                <div class="input-field col s6">
                    <input id="telefoneCelular" type="text" ng-model="aluno.contato.telefoneCelular"></input>
                    <label>Telefone Celular</label>                                       
                </div>
                <div class="input-field col s6">
                    <input id="telefoneResidencial" type="text" ng-model="aluno.contato.telefoneResidencial"></input>
                    <label>Telefone Residencial</label>                                       
                </div>
                <!--DADOS DA CONTA-->
                <div class="input-field col s6">
                    <input id="telefoneResidencial" type="text" ng-model="aluno.contato.telefoneResidencial"></input>
                    <label>Telefone Residencial</label>                                       
                </div>



                <!-- ENDEREÇO -->
                <!--<div class="input-field col s6">
                    <input id="cep" type="text" class="validate" ng-model="aluno.endereco.cep" ng-blur="pesquisaEstadoECidade(aluno.endereco.cep)" required></input> 
                    <label for="cep">Cep</label>
                </div>                  
                <div class="input-field col s6">
                    <input id="estado" type="text" ng-model="aluno.endereco.estado.uf" readonly></input>
                    <label class="active" for="estado">Estado</label>
                </div>                  
                <div class="input-field col s6">
                    <input id="municipio" type="text" ng-model="aluno.endereco.cidade.nome" readonly></input> 
                    <label class="active" for="municipio">Município</label>
                </div>                  
                <div class="input-field col s6">
                    <input id="logradouro" type="text" class="validate" ng-model="aluno.endereco.logradouro" required></input>
                    <label for="logradouro">Logradouro</label>
                </div>
                <div class="input-field col s6">
                    <input id="bairro" type="text" class="validate" ng-model="aluno.endereco.bairro" required></input> 
                    <label for="bairro">Bairro</label>
                </div>
                <div class="input-field col s6">
                    <input id="complemento" type="text" class="validate" ng-model="aluno.endereco.complemento" required></input> 
                    <label for="complemento">Complemento</label>
                </div>
                <div class="input-field col s6">
                    <input id="numero" type="text" class="validate" ng-model="aluno.endereco.numero" required></input>
                    <label for="numero">Número</label>
                </div>-->
                
                
                <div class="input-field col s6">
                    <select ng-model="aluno.statusDoCadastro" disabled="true">
                        <option value="ATIVO" disabled="true" selected="true">Ativo</option>
                    </select>
                    <label>Status do cadastro</label>                                       
                </div>                              
            </div>            
        </div>       
    </div>
    <div class="modal-footer">
        <a ng-click="preparaSalvamentoAluno(aluno)" class="modal-action modal-close waves-effect waves-green btn-flat ">Salvar</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat left ">Cancelar</a>
    </div>
</div>
