<main>
  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title center">Gerenciamento de Cursos</span>

        <div class="row">
          <div class="col">
            <a data-target="modalNovoCurso" ng-click="prepararCadastroDeCurso()" class="s1 btn-floating btn-small waves-effect waves-light green tooltipped" data-position="bottom" data-delay="50" data-tooltip="Novo Curso"><i class="material-icons">add</i></a>
          </div>
          <div class="col">
            <a data-target="modalVisualizacaoCurso" ng-disabled="selecionado" class="s1 btn-floating btn-small waves-effect waves-light yellow tooltipped" data-position="bottom" data-delay="50" data-tooltip="Detalhes do Curso"><i class="material-icons">search</i></a>
          </div>    
          <div class="col">
            <a data-target="modalEditarCurso" ng-click="prepararEdicaoDeCurso()" ng-disabled="selecionado" class="s1 btn-floating btn-small waves-effect waves-light blue tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar Curso"><i class="material-icons">edit</i></a>
          </div>    
          <div class="col">
            <a ng-disabled="selecionado" data-target="modalConfirmacaoExclusaoDeCurso" class="s1 btn-floating btn-small waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inativar Curso"><i class="material-icons">delete</i></a>
          </div>
          <div class="col">
            <a ng-hide="cursoSelecionadoInativo" data-target="modalConfirmacaoAtivacaoDeCurso" class="s1 btn-floating btn-small waves-effect waves-light orange tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ativar Curso"><i class="material-icons">check_box</i></a>
          </div>    
          <div class="col m8">
            <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Qual o curso que você está buscando?"></input>
          </div>                
        </div>    

        <table class="highlight responsive-table">
          <thead>
            <tr>                                        
            <th>Sigla</th>
              <th>Nome</th>
              <th>Status</th>
            </tr>
          </thead>        
          <tbody>
            <tr ng-click="selecionaCurso(curso)" ng-repeat="curso in cursos | filter:{nome:criterioDeBusca}">
              <td ng-style="{'background-color': curso.selecionado}">{{curso.sigla}}</td>
              <td ng-style="{'background-color': curso.selecionado}">{{curso.nome}}</td>
              <td ng-style="{'background-color': curso.selecionado}">{{curso.status}}</td>
            </tr>          
          </tbody>
        </table>                                         
      </div>
    </div>    
  </div>    
</main>

<div id="modalNovoCurso" class="modal modal-fixed-footer">
  <form ng-submit="salvarCurso(curso)">  
    <div class="modal-content">
      <nav class="center">
      <h5 class="brand-logo center">Novo Curso</h5>      
      </nav>
      <div class="row">
        <form class="col s12">
          <div class="row">               
            <div class="input-field col s12">
              <input id="last_name" type="text" class="validate" ng-model="novoCurso.nome"></input>
              <label for="last_name">Nome do Curso</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" ng-model="novoCurso.sigla"></input>
              <label for="last_name">Sigla do Curso</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" ng-model="novoCurso.valorMensalidade"></input> 
              <label for="last_name">Valor da Mensalidade</label>
            </div>
          </div>
        </form>
      </div>       
    </div>
    <div class="modal-footer">
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Salvar</a>
      <a href="" class="modal-action modal-close waves-effect waves-red btn-flat left ">Cancelar</a>
    </div>
  </form>
</div>